
.wrapper {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 80px);
  align-items: stretch;
}

#content {
  width: 100%;
  padding: 20px;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  #content {
    position: absolute;
    left: 0;
    padding: 10px;
  }
}