.toast-container-position {
  position: fixed;
  bottom: 10px;
  right: 10px
}

@media (max-width: 576px) { 
  .toast-container {
    max-width: 95%;
  }
}

@media (min-width: 576px) { 
  .toast-container {
    max-width: 95%;
  }
}

@media (min-width: 768px) { 
  .toast-container {
    max-width: 50%;
  }
}

@media (min-width: 992px) { 
  .toast-container {
    max-width: 25%;
  }
}

@media (min-width: 1200px) { 
  .toast-container {
    max-width: 25%;
  }
}